# Practical example of Bitwise operators in Python

Trainer: Md. Jalal Uddin
    
Founder and director of Research Society https://researchsociety20.org/founder-and-director/

email: 20205103002@nuist.edu.cn, dmjalal90@gmail.com,

# What is Bitwise operator in Python?

convert integers into binary

bit by bit operation

output as decimal format

decimal [base 10 (0-9)]

binary [base 2 (0-1)]

binary = prefix 0b


Python's "and", "or" and "not" logical operators are designed to work with "scalars".

Read more: https://stackoverflow.com/questions/21415661/logical-operators-for-boolean-indexing-in-pandas

However, "&", "|" and "~" Bitwise operators are designed to work with both "scalars" and "vectors".

# Learn more from geeksforgeeks

https://www.geeksforgeeks.org/python-bitwise-operators/

# &

If both the bits are 1, it returns 1; otherwise, it returns 0

# |

If either of the bit is 1, it returns 1; otherwise, it returns 0

# ~

It returns one’s complement of the number

For example:

NOT x = -x − 1     

https://www.pyblog.in/programming/bitwise-operators-in-python/

# define variable

In [1]:
a = 4
b = 12

In [2]:
print("decimal to binary for a =",bin(a))

print("decimal to binary for b =",bin(b))

decimal to binary for a = 0b100
decimal to binary for b = 0b1100

In [3]:
print("a & b =", a&b)    
                           
print("a | b =", a | b)  
    
print("~a =", ~a)

a & b = 4
a | b = 12
~a = -5

# Function

In [4]:
import operator as op

print("a & b =", op.__and__(a, b))

print("a | b =", op.__or__(a, b))

a & b = 4
a | b = 12

# Example for real data

We will monitor drought (water scarcity) for Rangpur station in Bangladesh from 1994 to 1995

The example has been adapted from Uddin et al. (2020). https://link.springer.com/article/10.1007/s12517-020-05302-0

In [5]:
import pandas as pd
import numpy as np

dataset = pd.read_excel('drought_data.xlsx')

dataset.head()

  Year and month       SPI
0        1983-01 -0.285149
1        1983-02 -0.299666
2        1983-03 -0.229297
3        1983-04 -0.382996
4        1983-05 -0.060437

In [6]:
SPI = dataset.SPI[133:156]   # 1994-1995

SPI.head()

133    0.289110
134    0.291538
135    0.238511
136    0.236418
137   -0.093880
Name: SPI, dtype: float64


The climate was wet if the SPI values are greater than 1 and less than 2. Similarly, if the SPI values are less than 1 and less than equal -2, the climate was dry.

In [7]:
print("wet climate = \n",SPI.gt(1) & SPI.lt(2))

wet climate =
 133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
Name: SPI, dtype: bool

In [8]:
print("dry climate = \n",SPI.lt(1) | SPI.le(-2))

dry climate =
 133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144    True
145    True
146    True
147    True
148    True
149    True
150    True
151    True
152    True
153    True
154    True
155    True
Name: SPI, dtype: bool

In [9]:
print("not extreme wet climate = \n", ~(SPI>2))

not extreme wet climate =
 133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144    True
145    True
146    True
147    True
148    True
149    True
150    True
151    True
152    True
153    True
154    True
155    True
Name: SPI, dtype: bool

In [10]:
print("wet climate = \n",op.__and__(SPI.gt(1), SPI.lt(2)))

wet climate =
 133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
Name: SPI, dtype: bool

In [11]:
print("dry climate = \n",op.__or__(SPI.lt(1), SPI.le(-2)))

dry climate =
 133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144    True
145    True
146    True
147    True
148    True
149    True
150    True
151    True
152    True
153    True
154    True
155    True
Name: SPI, dtype: bool