Mann-Kendall Test: https://pypi.org/project/pymannkendall/

In [1]:
import pandas as pd
import pymannkendall as mk

In [2]:
df = pd.read_csv("mktest_data.csv")
df.head()

,Year,Day,Dhaka,Mymensingh,Faridpur,Madaripur,Sylhet,Bogra,Rajshahi,Rangpur,...,Barisal,Bhola,Patuakhali,Chittagong,Comilla,Cox's Bazar,Feni,Rangamati,Sandwip,Teknaf
0,1980,1,24.6,22.8,23.5,28.7,22.3,23.7,23.3,21.4,...,30.3,24.7,26.4,25.0,22.7,23.4,22.9,24.4,35.2,22.9
1,1980,2,20.0,16.9,18.5,24.9,19.1,16.4,16.8,19.2,...,22.4,26.0,29.8,26.9,24.5,27.0,27.0,25.3,33.0,25.6
2,1980,3,22.0,22.0,18.8,22.3,25.0,20.3,20.5,19.7,...,21.5,23.0,25.2,25.8,21.4,28.2,26.1,24.8,33.1,26.7
3,1980,4,22.3,21.4,21.9,26.6,25.0,21.5,20.6,22.9,...,22.1,21.8,26.1,26.4,23.2,27.6,24.0,24.2,30.6,27.6
4,1980,5,23.0,23.3,22.0,27.0,24.6,22.7,22.1,22.5,...,23.7,22.3,25.9,25.2,23.3,24.8,21.5,24.3,30.2,25.7

In [3]:
result = mk.original_test(df['Dhaka'])
print(result)

Mann_Kendall_Test(trend='increasing', h=True, p=0.0, z=9.290425493994276, Tau=0.05259268934783098, s=5059174.0, var_s=296543119222.6667, slope=7.28199526670318e-05, intercept=30.094993628254137)

We can directly unpack our results.

In [4]:
trend, h, p, z, Tau, s, var_s, slope, intercept = mk.original_test(df['Dhaka'])

In [5]:
print(trend,p,slope)

increasing 0.0 7.28199526670318e-05