# Trainer: 

Md. Jalal Uddin, Founder and director of Research Society https://researchsociety20.org/founder-and-director/

email: 20205103002@nuist.edu.cn, dmjalal90@gmail.com

# Tuple

By placing all the items (elements) inside parentheses () and separating by commas, we can create a tuple.

The difference between list and tuple: list (we can change the elements), tubple (we cannot)

In [1]:
tuple_   = ('Hello', 'Jalal')
print(tuple_)

('Hello', 'Jalal')

In [2]:
tuple1  = 'Hello', 'Jalal'
print(tuple1)

tuple2  = (1,2,3,4)
print(tuple2)
 
tuple3  = ('Jalal','Ripa', 2, 4, 6)     # mixed data type
print(tuple3)

tuple4  = ('Jalal','Ripa', [2, 4, 6])   # nested tuple
print(tuple4)

('Hello', 'Jalal')
(1, 2, 3, 4)
('Jalal', 'Ripa', 2, 4, 6)
('Jalal', 'Ripa', [2, 4, 6])

# index operator []

In [3]:
print(tuple1[0])    # returns the first item

print(tuple1[1])    # returns the second item

print(tuple1[-1])   # returns the first item from the end

print(tuple1[-2])   # returns the second item from the end

Hello
Jalal
Jalal
Hello

# slicing operator: colon (:)

In [4]:
print(tuple3[0:3])

('Jalal', 'Ripa', 2)

#  concatenation

In [5]:
con = tuple_ + tuple2
print(con)

# repeat the tuple
print(tuple_*3)

('Hello', 'Jalal', 1, 2, 3, 4)
('Hello', 'Jalal', 'Hello', 'Jalal', 'Hello', 'Jalal')

# delete

we can't delete items but can delete entire tuple.

In [6]:
del tuple_

print(tuple_)

NameError: name 'tuple_' is not defined

# know the position or location

In [7]:
tuple5  = ('Hello', 'Jalal','1','Jalal','3')

print(len(tuple5))

print(tuple5.count('Jalal'))  
print(tuple5.index('3'))

5
2
4

# Membership operator (in, not in)

In [8]:
print('Jalal' in tuple5)

print('Jalal' not in tuple5)

True
False