# Use of "input"

In [2]:
x = input("Enter your name: ")   # The input() method converts into a string and returns it.
print("Hello, " + x)

print(type(x))

Enter your name: Jalal
Hello, Jalal
<class 'str'>

In [3]:
# integer input

y = int(input('enter age: '))  # int = integer

print(type(y))

enter age: 30
<class 'int'>

# String

In [4]:
str_ = 'Hello Jalal'
print(str_)

str1 = "Hello Jalal"
print(str1)

str2 = """Hello Jalal"""
print(str2)

Hello Jalal
Hello Jalal
Hello Jalal

# indexing

In [5]:
print(str_[0])         # returns the first item

print(str_[1])         # returns the second item

print(str_[-1])        # returns the first item from the end

print(str_[-2])        # returns the second item from the end

H
e
l
a

# slicing operator :(colon)

In [6]:
print(str_[0:3])

Hel

# concatenation

In [7]:
con1 = str_ + str1
print(con1)

Hello JalalHello Jalal

# repeat the string

In [8]:
print(str_*3)

Hello JalalHello JalalHello Jalal

 # to convert string to uppercase

In [9]:
"Jalal".upper()

'JALAL'

# convert string to lowercase

In [10]:
"Jalal".lower()

'jalal'

# to capitalize the first letter of every word

In [11]:
"hello jalal".title()

'Hello Jalal'

# replace string

In [12]:
"hello jalal".replace('h', 'H')

'Hello jalal'

# split string

In [13]:
"hello jalal".split()

['hello', 'jalal']

# join string

In [14]:
' '.join(['hello', 'jalal'])

'hello jalal'

# delete

In [15]:
str_3 = "Hello Jalal"
print(str_3)

Hello Jalal

In [16]:
del str_3

print(str_3)

NameError: name 'str_3' is not defined

# range

In [21]:
range_of_data = range(0,100)

print(range_of_data)

range(0, 100)

In [22]:
for i in range_of_data:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99